[Unit]
Description=Etcd Server
After=network.target

[Service]
Type=notify
EnvironmentFile={CONF_DIR}/etcd.conf
ExecStart=/usr/local/bin/etcd
Restart=always
RestartSec=10s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target